<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <header>                
                <section class="contatti">
                     <header>
                         <div>
                             <img src="./img/avatar_io.jpg" alt="BB">
                             <p>Benedetta</p>
                         </div>
                         <div>
                             <ul>
                                 <li><i class="fa-solid fa-circle-notch font-i-grey"></i></li>
                                 <li><i class="fa-solid fa-message font-i-grey"></i></li>
                                 <li><i class="fa-solid fa-ellipsis-vertical font-i-grey"></i></li>
                             </ul>
                         </div>
                     </header>
                     <section class="notifiche">
                        <span>
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>
                        <ul>
                            <li class="bold">Ricevi notifiche di nuovi messaggi</li>
                            <li class="sottolineato">Attiva notifiche desktop</li>
                        </ul>
                    </section>
                    <section class="barra-ricerca">
                        <span><i class="fa-solid fa-magnifying-glass font-i-grey"></i></span>
                        <input type="text" placeholder="cerca o inizia una nuova chat">
                    </section>
                    <section class="chat-utente" >
                        <div class="lista-contatti">
                            <div v-for="(contact, index) in contacts" :key="index"  @click="selectContact(index)"  :class="[{ active: index === currentContactIndex }]">
                                <img :src="contact.avatar" alt="">
                                <ul>
                                    <li> {{ contact.name }}</li>
                                    <li class="font-i-grey">Ultimo messaggio inviato</li>
                                </ul>
                            </div>
                        </div>
                        <p class="font-i-grey">12:00</p>
                    </section>
                </section>
            </header>
            <main>
                <div class="chat" v-if="currentContact">
                    <section class="nome-contatto">
                        <div>
                            <img :src="currentContact.avatar" alt="">
                            <p>{{ currentContact.name }}</p>
                      </div>
                      <div>
                        <ul>
                          <li><i class="fa-solid fa-magnifying-glass font-i-grey"></i></li>
                          <li><i class="fa-solid fa-paperclip font-i-grey"></i></li>
                          <li><i class="fa-solid fa-ellipsis-vertical font-i-grey"></i></li>
                        </ul>
                      </div>
                    </section>
                    <section class="conversazione">
                        <div v-for="(message, index) in currentContact.messages" :key="index" :class="[message.status === 'sent' ? 'messaggi-inviati' : 'messaggi-ricevuti']">
                            <div class="message-content">{{ message.message }}</div>
                           </div>
                        </div>
                    </section>
                    <section class="invia-messaggio">
                        <input  v-model="newMessage" @keyup.enter="inviaMessaggio" type="text" placeholder="Scrivi un messaggio" >
                    </section>
                  </div>
            </main>

        </div>


    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>